body {
 background-color: rgb(123, 123, 236)!important;
}
#loginButton
{
	width:100%;border-radius: 15px;
}
#img{
    width: 20%;
    border-radius: 100%;
}
.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}